{% extends "base.html" %}

{% block content %}
{% if "ol" == l %}
    <ol>
        <li>инженер-исследователь</li>
        <li>инженер-исследователь</li>
        <li>Пилот</li>
        <li>Строитель</li>
        <li>Экзобиолог</li>
        <li>Врач</li>
        <li>Климатолог</li>
    </ol>
 {% elif "ul" == l %}
    <ul>
        <li>инженер-исследователь</li>
        <li>инженер-исследователь</li>
        <li>Пилот</li>
        <li>Строитель</li>
        <li>Экзобиолог</li>
        <li>Врач</li>
        <li>Климатолог</li>
    </ul>
 {% else %}
<h2>Ошибка! Неверный адрес</h2>
 {% endif %}
{% endblock %}